body {
  .btn {
    border: 2px solid $black;
    display: block;
    font-family: $ff-text-regular;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    border-radius: 0;
    padding: 11px 32px;
    position: relative;
    overflow: hidden;
    z-index: 1;

    @include breakpoint(large down) {
      transition: color 0s ease;
    }

    &--white {
      color: $white;
      border-color: $white;

      &::before {
        content: "";
        width: 100%;
        height: calc(100% + 4px);
        position: absolute;
        top: -2px;
        left: 0;
        transform: translateX(-100%);
        background-color: $white;
        transition: transform 0.6s ease;
        z-index: -1;
      }

      &:focus {
        color: $white;
      }

      &:hover {
        color: $theme_color;

        &::before {
          transform: translateX(0);
          transition: transform 0.6s ease;
        }
      }
    }

    &--white-flat {
      color: $theme_color;
      border-color: $white;

      &::before {
        content: "";
        width: 100%;
        height: calc(100% + 4px);
        position: absolute;
        top: -2px;
        left: 0;
        transform: translateX(0);
        background-color: $white;
        transition: transform 0.6s ease;
        z-index: -1;
      }

      &:focus {
        color: $color_80;
      }

      &:hover {
        color: $white;

        &::before {
          transform: translateX(100%);
          transition: transform 0.6s ease;
        }
      }
    }

    &--black {
      color: $white;

      &::before {
        content: "";
        width: 100%;
        height: calc(100% + 4px);
        position: absolute;
        top: -2px;
        left: 0;
        transform: translateX(0);
        background-color: $black;
        transition: transform 0.6s ease;
        z-index: -1;
      }

      &:focus {
        color: $white;
      }

      &:hover {
        color: $black;

        &::before {
          transform: translateX(101%);
          transition: transform 0.6s ease;
        }
      }
    }

    &--black-line {
      color: $color_100;
      border-color: $color_100;

      &::before {
        content: "";
        width: 100%;
        height: calc(100% + 4px);
        position: absolute;
        top: -2px;
        left: 0;
        transform: translateX(-100%);
        background-color: $color_100;
        transition: transform 0.6s ease;
        z-index: -1;
      }

      &:focus {
        color: $black;
      }

      &:hover {
        color: $white;

        &::before {
          transform: translateX(0);
          transition: transform 0.6s ease;
        }
      }
    }

    &--white-line {
      color: $white;
      border-color: $white;

      &::before {
        content: "";
        width: 100%;
        height: calc(100% + 4px);
        position: absolute;
        top: -2px;
        left: 0;
        transform: translateX(-100%);
        background-color: $white;
        transition: transform 0.6s ease;
        z-index: -1;
      }

      &:focus {
        outline: none;
      }

      &:hover {
        color: $color_100;

        &::before {
          transform: translateX(0);
          transition: transform 0.6s ease;
        }
      }
    }

    &--theme {
      color: $white;
      border-color: $theme_color;

      &::before {
        content: "";
        width: 100%;
        height: calc(100% + 4px);
        position: absolute;
        top: -2px;
        left: 0;
        transform: translateX(0);
        background-color: $theme_color;
        transition: transform 0.6s ease;
        z-index: -1;
      }

      &:focus {
        color: $white;
      }

      &--focus {
        color: $theme_color;
      }

      &:hover {
        color: $theme_color;

        &::before {
          transform: translateX(101%);
          transition: transform 0.6s ease;
        }
      }
    }
  }
}
